# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

IONIC/node_modules/
IONIC/platforms/
IONIC/plugins/
ArchitectureDiagram/
SkyAccessoriesPageEdit/
.idea/
server/node_modules/
server/bower_components
server/public/app/*
server/public/css/*
server/public/js/*
server/npm-debug.log
