<div ng-controller="basketCtrl">
    <h3 ng-hide="basket.length">Nothing in your basket</h3>
    <a class="c-btn c-btn--secondary" href="/#/productList">Back to products</a>
  <section class="o-layout">
    <div class="o-layout__item">
      <article class="c-tile" ng-repeat="product in basket">
        <div class="o-layout__item u-width-1/4@small" style="padding-left: 0">
          <img ng-src="/images/phonecases/{{product.item.imageUrl}}">
        </div>

        <div class="o-layout__item u-width-3/5@small">
          <h1 class="c-heading-delta">{{product.item.name}}</h1>
          <div class="">Price: &pound;{{product.item.price | number: 2}}</div>
          <span>Quantity:<input type="number" ng-model="product.quantity" ng-blur="removeIfZero(product)"></span>
          <button class="c-btn c-btn--secondary" ng-click="removeItem(product)">Remove from basket</button>
        </div>
      </article>
    </div>
    <div class="o-layout__item u-width-1/4">
      Total: &pound;{{getTotalPrice()}}
    </div>
    <div class="o-layout__item u-width-1/4">
      <button class="c-btn c-btn--primary" ng-click="checkout()">Buy Now</button>
    </div>
  </section>

</div>
