<div ng-controller="productListCtrl">
  
  <h1 class="c-heading-alpha">Available phone cases</h1>
  <span class="is-error">{{error}}</span>

  <section class="o-layout">
    <label class="o-layout__item c-form-label u-width-1/5" for="f-username">
      Search
    </label>
    <input type="text" class="c-form-input u-width-2/5" placeholder="Search" name="f-username" id="f-username" ng-model="search.name">

    <div class="o-layout__item c-form-select u-width-2/5">
      <select class="c-form-select__dropdown">
        <option value="">Filter by phone model</option>
      </select>
    </div>
  </section>

  <section class="o-layout">
    <div class="o-layout__item u-width-1/2@medium u-width-1/3@large u-width-1/4@x-large"  ng-repeat="case in cases | filter: search">
      <article class="c-tile">
        <div class="c-tile__content">
          <div class="c-tile__media">
            <img class="c-tile__poster" ng-src="images/phonecases/{{case.imageUrl}}" />
          </div>
          <div class="c-tile__body">
            <div class="c-tile__title">{{case.name}}</div>
            <div class="">{{case.availableStock}} remaining.</div>
            <div class="">Price: &pound;{{case.price | number: 2}}</div>
            <a class="c-btn c-btn--secondary" ng-href="/#/productList/{{case.id}}">More Info</a>
            <a class="c-btn  c-btn--primary" ng-click=addToBasket(case)>Order Now</a>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
