<div ng-controller="productListCtrl">
  
  <h1 class="c-heading-alpha">Available phone cases</h1>
  <span class="is-error">{{error}}</span>

  <section class="o-layout">
    <div class="o-layout__item u-width-1/3">
      <input type="text" class="c-form-input " placeholder="Search" name="f-username" id="f-username" ng-model="search.name">
    </div>

    <div class="o-layout__item c-form-select u-width-1/3">
      <select class="c-form-select__dropdown" ng-model="search.ShowName" ng-options="showName for showName in showNames">
        <option value="">Filter by show</option>
      </select>
    </div>

    <div class="o-layout__item c-form-select u-width-1/3">
      <select class="c-form-select__dropdown" ng-model="search.PhoneType" ng-options="phoneModel for phoneModel in phoneModels">
        <option value="">Filter by phone model</option>
      </select>
    </div>
  </section>

  <section class="o-layout">
    <div class="o-layout__item u-width-1/2@medium u-width-1/3@large u-width-1/4@x-large"
         ng-repeat="case in cases | filter:{PhoneType: search.PhoneType||undefined, ShowName: search.ShowName||undefined, name: search.name}">
      <article class="c-tile">
        <div class="c-tile__content">
          <div class="c-tile__media">
            <img class="c-tile__poster" ng-src="images/phonecases/{{case.imageUrl}}" />
          </div>
          <div class="c-tile__body">
            <div class="c-tile__title">{{case.name}}</div>
            <div class="">{{case.availableStock}} remaining.</div>
            <div class="">Price: &pound;{{case.price | number: 2}}</div>
            <a class="c-btn c-btn--secondary" ng-href="/#/productList/{{case.id}}">More Info</a>
            <a class="c-btn  c-btn--primary" ng-class="{'is-disabled':case.availableStock==0}" ng-disabled="case.availableStock==0" ng-click=addToBasket(case)>Order Now</a>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
