<div ng-controller="loginCtrl">
    <h1 ng-show="error">Whoops! These details are incorrect</h1>
    <div class="o-layout" style="padding-top: 50px">
        <div class="o-layout__item  u-width-1/2  u-width-1/3@medium">
            <input type="text" class="c-form-input" placeholder="e.g. hulk42" name="email" ng-model="email" id="f-email">
        </div>
    </div>
    <div class="o-layout" style="padding-top: 50px">
        <div class="o-layout__item  u-width-1/2  u-width-1/3@medium">
            <input type="password" class="c-form-input" placeholder="e.g. hulk42" ng-model="password" id="f-password">
        </div>
    </div>
    <div class="o-layout" style="padding-top: 50px">
        <div class="o-layout__item  u-width-1/2  u-width-1/3@medium">
            <button class="c-btn  c-btn--secondary" ng-click="loginSubmit(email, password)">Submit</button>
        </div>
    </div>
</div>
